/*-- scss:defaults --*/

// custom palette
$color-tamarind: #2f0f24;
$color-seashell: #fbf5f3;
$color-floral: #fff7f4;
$color-royal: #814c9e;
$color-amethyst: #6B2084;
$color-port: #702459;
$color-violet: #c096ca;
$color-highlight: #fce533;
$color-highlight-alt: #f7df1e;
$color-blue: #363b8f;
$color-blue-alt: #d8d9f1;
$color-red: #e20a39;
$color-red-alt: #f8e6ea;
$color-green: #cee0dc;
$color-green-alt: #073429;
$color-gold: #f4d06f;
$color-gold-alt: #4c3906;

// colors
// $border-color-left: #eecdde !default;
$primary: $color-amethyst;
$background-color: #bfe4eb !default;
$body-color: lighten(black, 20%);
$link-color: $body-color;
$link-hover-color: black;
$code-color: $color-port;                 /* constrast ratio: 8.94 */
$navbar-light-hover-color: #000;
$navbar-light-brand-color: #404040;
$headings-color: $primary;
$border-color: $color-tamarind;

// code
$code-block-bg: $color-seashell;
$code-block-border-left: $color-highlight;
$code-block-border-left-size: 5px;

// callouts
$callout-color-note: $color-tamarind;
$callout-color-tip: $color-blue;
$callout-color-warning: $color-red;
$callout-border-width: 5px;


/* workbench variables */
$pro-header: #4D4D4D;                /* rstudio logo gray, contrast: 8.45 */
$pro-header-border: lighten($pro-header, 50%);



/*-- scss:rules --*/

/* custom divs--------------------------------------------------------------- */

div .alison {
  border: 4px #aed6d963;
  border-style: dashed solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #2ea8b3;
  background-color: #fdfdfd;
  background-image: url("style/illo_alison.png");
}

div .rich {
  border: 4px #aed6d963;
  border-style: dashed solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #2ea8b3;
  background-color: #fdfdfd;
  background-image: url("style/illo_rich.png");
}

// styling links
a {
  text-decoration-color: #edd;
  text-decoration-thickness: .075em;
  text-underline-offset: .25em;
}

a:hover {
  text-underline-offset: .3em;
  text-decoration-color: $link-hover-color;
}

/* code blocks--------------------------------------------------------------- */

// code blocks are square
div.sourceCode {
  border-radius: 0rem;
}

// code output (not blocks) has diff bg and no border
.cell-output-stdout .sourceCode {
  background: #fdfcf4;
  border-left: 0px;
}

/* Background color for author illustrations */
/* #D49CE7 */

/* callouts------------------------------------------------------------------ */

/* square */
.callout {
  border-radius: 0rem;
  background: #fbf5f3ff; //#fcf7fa
  border: #eecdde;
  border-left-color: $border-color;
  border-left-width: 5rem;
}

.callout.callout-style-simple {
  border-left: 1px solid #dfb6ed !important;
}
